{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% if config_sets_ctx.IsRemote %}
        Revision: {{ config_sets_ctx.Repo.Revision }}<br>
        {% endif %}
        <a href="/update_proc_config_sets"><span class="glyphicon glyphicon-save-file"></span> Reload ProcConfigSets</a><br>
        <a href="/regenerate_profiles"><span class="glyphicon glyphicon-refresh"></span> Regenerate Profiles</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-4">
        <h1>Proc</h1>
        <ul>
        {% for package_build_config_set in config_sets_ctx.SortedConfigSets() %}
            <li>
                {{ package_build_config_set.Name }}
                [{% for k, _ in package_build_config_set.LangConfigs %}{{k}} {% endfor %}]
            </li>
            <ul>
                {% for c in package_build_config_set.SortedConfigs() %}

                {% if package_build_config_set.DepPkgNames|length == 0 %}

                <li>{{ c.version }} <strong><a href="/queue/{{ c.name | urlencode}}/{{ c.version | urlencode}}">to_queue</a></strong>[<a href="/build/{{ c.name | urlencode}}/{{ c.version | urlencode}}">exec</a>]</li>

                {% else %}

                {% for dn in package_build_config_set.DepPkgNames %}
                {% for dv in package_build_config_set.DepPkgVersions %}
                <li>{{ c.version }} <strong><a href="/queue/{{ c.name | urlencode }}/{{ c.version | urlencode }}/{{ dn | urlencode }}/{{ dv | urlencode }}">to_queue</a></strong>[<a href="/build/{{ c.name | urlencode}}/{{ c.version | urlencode}}/{{ dn | urlencode }}/{{ dv | urlencode }}">exec</a>]</li> by {{ dn }}-{{ dv }}
                {% endfor %}
                {% endfor %}

                {% endif %}

                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    </div>

    <div class="col-xs-3">
        <h1>Queue</h1>
        <ul>
            {% for q in queued_tasks %}

            <li>Waiting: {{ q.Proc.GetName() }} {{ q.Proc.GetVersion() }}</li>

            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-5">
        <h1>Tasks</h1>
        <ul>
            {% for task in tasks %}

            <li><a href="/{% if task.IsActive() %}live_status{% else %}status{% endif %}/{{task.Id}}">{{task.LogName}}</a>
                {% if task.Status == 0 %}
                {# running #}
                <span class="label label-primary">Running</span>

                {% elif task.Status == 1 %}
                {# succeeded #}
                <span class="label label-success">Succeeded</span>

                {% elif task.Status == 2 %}
                {# failed #}
                <span class="label label-danger">Failed</span>

                {% elif task.Status == 3 %}
                {# aborted #}
                <span class="label label-danger">Aborted</span>

                {% elif task.Status == 4 %}
                {# warning #}
                <span class="label label-warning">Warning</span>

                {% endif %}

                {% if task.Killable() %}
                <a href="/abort_task/{{task.Id}}"><span class="glyphicon glyphicon-remove"></span>Kill</a>
                {% endif %}
            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
