{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        {% if config_sets_ctx.IsRemote %}
        Revision: {{ config_sets_ctx.Repo.Revision }}<br>
        {% endif %}
        <a href="/update_proc_config_sets">Update ProcConfigSets</a><br>
        <a href="/regenerate_profiles">Regenerate Profiles</a>
    </div>
</div>

<div class="row">
    <div class="col-xs-3">
        <h1>Proc</h1>
        <ul>
        {% for config_set in config_sets_ctx.SortedConfigSets() %}
            <li>{{ config_set.Name }}</li>
            <ul>
                {% for c in config_set.SortedConfigs() %}
                <li>{{ c.version }} <strong><a href="/queue/{{ c.name | urlencode}}/{{ c.version | urlencode}}">to_queue</a></strong> <a href="/build/{{ c.name | urlencode}}/{{ c.version | urlencode}}">exec</a></li>
                {% endfor %}
            </ul>
        {% endfor %}
        </ul>
    </div>

    <div class="col-xs-3">
        <h1>Queue</h1>
        <ul>
            {% for q in queued_tasks %}

            <li>Waiting: {{ q.proc.name }} {{ q.proc.version }}</li>

            {% endfor %}
        </ul>
    </div>

    <div class="col-xs-6">
        <h1>Tasks</h1>
        <ul>
            {% for task in tasks %}

            <li><a href="/{% if task.IsActive %}live_status{% else %}status{% endif %}/{{task.Id}}">{{task.LogName}}</a>

                {% if task.Status == 0 %}
                {# running #}
                <span class="label label-primary">Running</span>

                {% elif task.Status == 1 %}
                {# succeeded #}
                <span class="label label-success">Succeeded</span>

                {% elif task.Status == 2 %}
                {# failed #}
                <span class="label label-danger">Failed</span>

                {% elif task.Status == 3 %}
                {# aborted #}
                <span class="label label-danger">Aborted</span>

                {% elif task.Status == 4 %}
                {# warning #}
                <span class="label label-warning">Warning</span>

                {% endif %}
            </li>

            {% endfor %}
        </ul>
    </div>
</div>

{% endblock %}
