{% extends "layout.html" %}

{% block content %}

<h1>Information</h1>

<h2>TimeZone</h2>
Asia/Tokyo(+0900 JST)<br>

<h2>Links</h2>

<h3>ProcGarden</h3>
<a href="https://pg.yutopp.net/"><span class="glyphicon glyphicon-log-out"></span> ProcGarden</a><br>

<h3>Repository</h3>
<a href="https://github.com/yutopp/subako"><span class="glyphicon glyphicon-log-out"></span> This Service</a><br>
<a href="https://github.com/yutopp/torigoya_package_configs"><span class="glyphicon glyphicon-log-out"></span> Configs</a><br>

{% endblock %}
