{% extends "layout.html" %}

{% block content %}
<div class="row">
    <div class="col-xs-12">
        LastUpdated: {{last_update}}<br>

        {% for name, detail in packages.Packages %}

        {{ name }}<br>
        <ul>
        {% for version, package in detail %}

            <li>
                {{ version }} / {{ package.PackageName }} {{ package.PackageVersion }} {{ package.DisplayVersion }}
                <a href="/remove_package/{{name}}/{{version}}"><span class="glyphicon glyphicon-remove"></span>Remove</a>
            </li>

        {% endfor %}
        </ul>

        {% endfor %}
    </div>
</div>

{% endblock %}
