{% extends "layout.html" %}

{% block content %}

<h1>Packages</h1>

LastUpdated: {{last_update}}<br>

<table class="table table-striped">
    <tr>
        <th>name</th>
        <th>version</th>
        <th>disp version</th>
        <th>genpkg name</th>
        <th>genpkg version</th>
        <th>dep name</th>
        <th>dep version</th>
        <th></th>
    </tr>

    {% for name, pkgVers in packages.Packages %}
    {% for version, pkgDeps in pkgVers %}
    {% for depPkgName, pkgDepVers in pkgDeps %}
    {% for depPkgVersion, package in pkgDepVers %}

    <tr>
        <td>{{ name }}</td>
        <td>{{ version }}</td>
        <td>{{ package.DisplayVersion }}</td>
        <td>{{ package.GeneratedPackageName }}</td>
        <td>{{ package.GeneratedPackageVersion }}</td>

        {% if depPkgName|length == 0 %}

        <td>(none)</td>
        <td>(none)</td>
        <td><a href="/remove_package/{{name}}/{{version}}"><span class="glyphicon glyphicon-remove"></span>Remove</a></td>

        {% else %}

        <td>{{ depPkgName }}</td>
        <td>{{ depPkgVersion }}</td>
        <td><a href="/remove_package/{{name}}/{{version}}/{{depPkgName}}/{{depPkgVersion}}"><span class="glyphicon glyphicon-remove"></span>Remove</a></td>

        {% endif %}
    </tr>

    {% endfor %}
    {% endfor %}
    {% endfor %}
    {% endfor %}
</table>


{% endblock %}
