{% extends "layout.html" %}

{% block content %}

<h1>System Logs</h1>

<ul>
    {% for log in latest_logs %}

    <li><a href="/{% if task.IsActive %}live_status{% else %}status{% endif %}/{{task.Id}}">{{task.LogName}}</a>
        {% if log.Status == 0 %}
        {# succeeded #}
        <span class="label label-success">Succeeded</span>

        {% elif log.Status == 1 %}
        {# failed #}
        <span class="label label-danger">Failed</span>

        {% endif %}
        {{log.CreatedAt}} - {{log.Title}}

        {% if log.Body|length > 0 %}
        <ul>
            <li><pre>{{log.Body}}</pre></li>
        </ul>
        {% endif %}
    </li>

    {% endfor %}
</ul>

{% endblock %}
